<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #63edf1dc;">
    <a class="navbar-brand" href="#">Shoping Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Orders</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: #157aff;color: rgb(255, 255, 255);">cart</button>
        </a>
      </form>
    </div>
  </nav>
</header>